* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin-right: 8px;
}

li > a {
    text-decoration: none;
    color: rgb(144, 144, 144);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bkg-greyish {
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    height: 100%;
}

.layout {
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
}

.top-layout {
    /* height: 100px; 
    L'altezza la prende dall'immagine, e con il clearfix sistemo il contenitore*/
    margin-top: 20px;
}

.top-layout > img {
    height: 80px;
    margin-bottom: 20px;
    padding-right: 20px;
    border-right: 1px solid  rgb(218, 218, 218);
}

.center-layout {
    margin-top: 20px;
}

.jumbotron {
    height: 420px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/banner.jpg"); */
    background-image: url("../img/banner.jpg");
    background-position: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.text-box-jumbotron {
    width: 55%;
    color: rgb(255, 255, 255);

}

/* .articles-layout {
    background-color: rgb(46, 89, 207);
} */

/* 
.top-articles,.cnt-articles {
    background-color: rgb(125, 200, 207);
} */

.top-articles {
    /* height: 100px; */
    padding: 30px 0;
}

.articles-layout h1 {
    font-size: 36px;
}

.articles-layout h5 {
    font-size: 16px;
    font-weight: 400;
}

.articles-layout p {
    font-size: 16px;
    color: rgb(144, 144, 144);
}

.cnt-articles {
    float: left;
    width: 20%;
    /* height: 400px; */
    margin: 15px 0;    
}

.cnt-articles:nth-child(2) {
    width: calc(60% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

.bkg-clm-size {
    float: left;
    width: 100%;
    height: 180px;
    border-radius: 20px;
}

.text-box-articles {
    float: left;
    margin-top: 20px;
}

.text-box-articles p { 
    margin-top: 10px;
}

.bot-layout {
    height: 60px;
    margin-top: 10px;
    text-align: center;
}

.bot-layout > p::after {
    content: "\2665";
    font-size: 2em;
    color: red;
}

#left-clm-bkg {
    background-image: url('../img/img-1.jpg');
    background-size: cover;
    background-position: center;
}

#cnt-clm-bkg {
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-position: center;
}

#right-clm-bkg {
    background-image: url('../img/img-2.jpg');
    background-size: cover;
    background-position: center;
}