* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin-right: 8px;
}

li > a {
    text-decoration: none;
    color: rgb(144, 144, 144);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bkg-greyish {
    background-color: rgba(44, 44, 44, 0.25);
    border-radius: 20px;
    height: 100%;
}

.layout {
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
}

.top-layout {
    /* height: 100px; 
    L'altezza la prende dall'immagine, e con il clearfix sistemo il contenitore*/
    margin-top: 20px;
}

.top-layout > img {
    height: 80px;
    margin-bottom: 20px;
    padding-right: 20px;
    border-right: 1px solid  rgb(218, 218, 218);
}

.center-layout {
    margin-top: 20px;
}

.jumbotron {
    height: 420px;
    background-image: url("../img/banner.jpg");
    background-position: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.text-box {
    width: 55%;
    color: rgb(255, 255, 255);

}

.articles-layout {
    background-color: rgb(46, 89, 207);
}

.bot-layout {
    height: 60px;
    margin-top: 10px;
    background-color: rgb(81, 0, 128);
}

.top-articles,.cnt-articles {
    background-color: rgb(125, 200, 207);
}

.top-articles {
    height: 100px;
}

.cnt-articles {
    float: left;
    width: 15%;
    height: 400px;
    margin: 15px 0;    
}

.cnt-articles:nth-child(2) {
    width: calc(70% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

